.contact{ 
    margin-top: 5vh;   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    background-color: var(--secondary-color);
    min-height: 505px;
    width: 400px;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;    
    flex-direction: column;
}
.contact-title{
    margin-top: 5%;
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--title-size);

}
.contact-input {
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    border-radius: 20px;
    background-color: var(--text-color);    
    width: 80%;
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--text-size);    
}
.textarea {
    height: 40%;
    padding: 15px;
    resize: none;
}
.contact-email{
    height: 10%;
    padding-left: 15px;   
}
.contact-submit{
    margin-top: 5%;
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 8%;
    width: 50%;
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
    border-radius: 20px;
}

.contact-submit:hover{
    transform: scale(1.05);
}