.game {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.principal-container {
    margin-left: 8rem;
    background-color: var(--secondary-color);
    height: 550px;
    width: 550px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.multipliers-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.game-button {
    background-color: var(--primary-color);
    font-family: var(--title-font);
    color: var(--text-color);
    border-radius: 20px;
    width: 25%;
    height: 30px;
    cursor: pointer;
    transition: all 0.5 ease;
}
.game-button:hover {
    transform: scale(1.2);
}

.technologies_list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;   
} 

.technologies_list::-webkit-scrollbar{
    display: none;
}

.companies_list{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 100% 100%;
    /* grid-column-gap: 20px; */
    grid-row-gap: 20px ;
    justify-items: center;
}
.workers-tab, .training-tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    flex-grow: 1;
}
.workers_list{
    padding-top: 1rem;
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: unset;
    /* grid-row: 100% 100%; */
    /* grid-column-gap: 20px; */
    grid-auto-flow: row;
    grid-row-gap: 20px ;
    justify-items: center;
    overflow-y: scroll;
    scrollbar-width: none;  
    /* background-color: aqua  */
}

.workers_list::-webkit-scrollbar{
    display: none;
}
.hire-button, .training-button{
    align-self: center;
    margin: 1rem;
    transform: scale(1.5)
}

.hire-button:hover, .training-button:hover{
    transform: scale(1.7)
}
.principal-resources{
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    width: 50%;
    margin-right: 5rem
    
}

.principal-score{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.money {
    
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 5rem;
    display: block;
}

.generation {
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 1rem;
    float: right;
}

.computer-button{
    background-color: transparent;
    cursor: pointer;
}

.principal-pc{
    display: block;
    width: 25rem;
    height: 25rem;
    
}

.animated{
    animation: bounce .5s alternate  ease-in;
}

.click{
    filter: var(--icon-color);
}

.save-button{
    padding-top: 0;
}

@keyframes bounce{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}
