.register{    
    margin-top: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container{
    background-color: var(--secondary-color);
    padding: 10px;
    min-height: 500px;
    width: 400px;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.register-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;    
    flex-direction: column;
}
.register-title{   
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--title-size);
}
.register-input {
    margin-top: 1.5rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    display: block;
    border-radius: 20px;
    background-color: var(--text-color);
    text-indent: 15px;
    width: 80%;
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--text-size);    
}
.toLoginQuestion{
    margin-top: 1.5rem;    
    color: var(--text-color);
    border-radius: 30px;
    width: 45%;
    text-align: center;
    height: 2rem;    
}
.toLogin{       
       
    color: var(--text-color);
    font-size: var(--text-size);
    border-radius: 20px;
    width: 70%;
    text-align: center;
    height: 1rem;
    
}
.toLogin:hover{
    color: beige;
    transform: scale(1.05);    
}

.register-submit{
    margin-top: 1.5rem;
    padding-top: 10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 3rem;
    width: 50%;
    text-decoration: none;
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
    border-radius: 20px;
}

.register-submit:hover{
    transform: scale(1.05);
}
.username-error{
    text-align: center;
}
.password-error{
    text-align: center;
}