.register{    
    margin-top: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container{
    background-color: var(--secondary-color);
    padding: 10px;
    min-height: 500px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.register-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;    
    flex-direction: column;
}
.register-title{   
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--title-size);
}
.register-input {
    margin-top: 1.5rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    display: block;
    border-radius: 20px;
    background-color: var(--text-color);
    text-indent: 15px;
    width: 80%;
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: var(--text-size);    
}
.toLoginQuestion{
    margin-top: 1.5rem;    
    color: var(--text-color);
    border-radius: 30px;
    width: 45%;
    text-align: center;
    height: 2rem;    
}
.toLogin{       
       
    color: var(--text-color);
    font-size: var(--text-size);
    border-radius: 20px;
    width: 70%;
    text-align: center;
    height: 1rem;
    
}
.toLogin:hover{
    color: beige;
    transform: scale(1.05);    
}

.register-submit{
    margin-top: 1.5rem;
    padding-top: 10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 3rem;
    width: 50%;
    text-decoration: none;
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
    border-radius: 20px;
    cursor: pointer
}

.register-submit:hover{
    transform: scale(1.05);
}
.username-error{
    text-align: center;
}
.password-error{
    text-align: center;
}

.register-input-file-container {
    position: relative;
    display: inline-block;
    
  }
  
.register-input-file-container::before {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    content: 'Seleccionar avatar'; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}
  
.register-input-file-container input[type="file"] {
    opacity: 0;
    width: 180px;
    height: 50px;
    display: inline-block;
    cursor: pointer 
}

.register-input-file-container{
    transform: scale(1.05);
}
.register-avatar{
    height: 70px;
    width: 70px;
    border-radius: 100px;
    
}
.register-avatar-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 0.5rem

}