.button{
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
    border-radius: 30px;
    height: 40px;
    padding-top: 10px;
    width: 15%;  
    min-width: 208px;  
    text-align: center;    
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;    
}

.button:hover{
      transform: scale(1.05);
}