.worker-detailed__container{
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px

}

.worker-detailed__image{
    width: 120px;
    height: 120px;
}

.worker-detailed__name{
    font-family: var(--title-font);
    font-size: var(--title-size);
}

.worker-detailed__companyName, .worker-detailed__levels, .worker-detailed__upgrades{
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
}

.worker-detailed__principal-info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.worker-detailed__principal-info--description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.worker-detailed__PA, .tech-level , .worker-detailed__no-upgrade{
    font-family: var(--text-font);
    font-size: var(--text-size);
    font-weight: bold;
}

.worker-detailed__tech-levels{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.5rem;
}
.worker-detailed__tech-levels--list{
    text-align: center;
}
.worker-detailed__tech-logo{
    width: 30px; 
    height: 30px;
}